.terraform/
terraform/backend.hcl
terraform/bootstrap-ci/terraform.tfvars
terraform/bootstrap-ci/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
gcp-sa.json
*.pem
.DS_Store
